body {
    margin: 0;
}

.mainView {
    display: flex;
    flex-direction: column;
}

.secIntroBox{
    width: 100vw;
    margin: 0 auto;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.logoBox{
   display: flex;
   justify-content: center;
   align-items: center;
}

.titleLogo{
    width: 105px;
    height: 35px;
}

.rjatorBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch{
    width: 215px;
    height: 28px;
}

.infoBtn{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.infoBtnBox{
    display: flex;
}

.infoIcon{
    justify-content: space-between;
    margin: 10px;
}

.iconImg{
    width: 30px;
    height: 30px;
}

.firView{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneConBox{
    width: 615px;
    height: 850px;
    border: 1px solid black;
    margin-top: 50px;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    margin-top: 10px;
}

.useId{
    display: flex;
}

.userImg{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.anoUseId{
    margin-top: 5px;
}

.moreImg{
    width: 30px;
    height: 30px;
}

.newsImg{
    width: 450px;
    height: 600px;
}

.twoPhoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeBox{
    display: flex;
    align-items: center;
}

.likeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bookMarkIcon{
    margin-left: 420px;
}

.likeBoxIcon{
    width: 30px;
    height: 30px;
}




